:root {
  --primary-color: #f2f2f2;
  --secondary-text-color: #bbb;
  --secondary-color: #131313;
  --tertiary-color: rgba(225, 225, 225, 0.04);
  --border-color: rgba(225, 225, 225, 0.1);
}


/* global */
* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  cursor: none;
}


/* body */
body {
  font-family: "Chivo Mono", monospace;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  user-select: none;
  margin: 0;
  color: var(--primary-color);
  background-color: var(--primary-color);
}


/* link */
a {
  text-decoration: none;
  color: var(--primary-text-color);
}


/* header */
header {
  font-family: "Rubik Mono One", system-ui;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  font-size: 17px;
  font-weight: 10;
  padding: 0 20px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  mix-blend-mode: difference;
  z-index: 5;
}

nav {
  display: flex;
  align-items: center;
  margin-right: 50px;
}

nav a {
  font-size: 12px;
  margin: 0 10px;
}


/* hero */
.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
}

.caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("../../icons/isolaremota.webp");
  height: calc(100vh - 250px);
  width: calc(100vw - 450px);
  background-position: center;  
  background-size: cover;
  border-radius: 15px;
  z-index: 1;
}

.caption span {
  font-family: "Rubik Mono One", system-ui;
  font-size: 40px;
  mix-blend-mode: difference;
}


/* main */
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--secondary-color);
  z-index: 3;
}


/* trips */
.trips {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
}


/* footer */



/* cursor */
.cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  mix-blend-mode: difference;
  transition: .1s;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 10;
}