:root {
    --primary-text-color: #f2f2f2;
    --secondary-text-color: #bbb;
    --primary-background: #131313;
    --secondary-background: rgba(225, 225, 225, 0.04);
    --border-color: rgba(225, 225, 225, 0.1);
}

/* global */
* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* body */
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    margin: 0;
    color: #f2f2f2;
    background-color: #131313;
  }

  /* LINKS */
a {
    text-decoration: none;
    color: #bbbbbb;
  }
  
/* HEADER */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 800px;
  position: fixed;
  top: 20px;
  background-color: rgba(225, 225, 225, 0.04);
  border: 1px solid rgba(225, 225, 225, 0.1);
  border-radius: 15px;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 1;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
}

nav ul {
  display: flex;
  list-style: none;
  padding: 0;
  gap: 20px;
}

nav a {
  font-size: 17px;
  font-weight: 600;
  transition: .3s ease-in-out;
}

nav a:hover,
nav a:focus {
  color: #f2f2f2;
}